$color-blue: rgb(0,172,217);
$color-green: rgb(0,222,96);
$color-orange:rgb(255,154,30);
$color-yellow: rgb(250,255,30);
$color-lightblue:rgb(30,250,255);
$color-text-background: rgba(50, 50, 50, 0.4);
$color-tree-branch: rgb(56, 21, 21);
$color-leaves-light: rgba(198, 204, 109, 0.788);
$color-leaves-medium:rgba(151, 185, 112, 0.76);
$color-leaves-dark: rgba(51, 83, 44, 0.76);