$color-blue: rgb(0,172,217);
$color-green: rgb(0,222,96);
$color-orange:rgb(255,154,30);
$color-yellow: rgb(250,255,30);
$color-lightblue:rgb(30,250,255);
$color-text-background: rgba(50, 50, 50, 0.4);
$color-tree-branch: rgb(56, 21, 21);

$rainbow-colours:   
  #FF0000, // red
  #FF7F00, // orange
  #FFFF00, // yellow
  #00FF00, // green
  #0000FF, // blue
  #4B0082, // indigo
  #9400D3; // violet

// Leaves color
$color-small-leaves-green: rgba(85, 255, 85, 0.788);
$color-medium-leaves-green: rgba(98, 204, 71, 0.76);
$color-big-leaves-green: rgba(21, 65, 11, 0.76);

$color-small-leaves-red: rgba(236, 136, 22, 0.76);
$color-medium-leaves-red: rgba(236, 90, 22, 0.76);
$color-big-leaves-red: rgba(241, 126, 31, 0.76);

$color-small-leaves-white: rgba(255, 255, 255, 0.46);
$color-medium-leaves-white: rgba(255, 255, 255, 0.56);
$color-big-leaves-white: rgba(255, 255, 255, 0.66);