*{
    margin:0;
    padding:0;
}
body {
    background: linear-gradient(90deg, $color-blue 0%, $color-green 25%, $color-orange 50%, $color-yellow 75%, $color-lightblue 100%);
    background-size: 2000%;
    background-position: 100% ;
    transition: all 3s;
}
.container {
    height: 100vh;
    display: grid;
    place-items: center;
}
section {
    width: 50%;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 2em;
    color: white;
    background-color: rgba(50, 50, 50, 0.3);
    border-radius: 1em;
    padding: 5em;
}
button {
    font-size: 0.8em;
    padding: 0.3em;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 0.2em;
    font-family: "Poppins", sans-serif;
    font-size: 1.7em;
    transition: all 0.2s;
    margin: 1em;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &:hover {
        background: white;
        color: rgba(2, 221, 215, 1);
    }
}

.page-0 {
    /*Styles for page 0*/
}

.page-1 {
    /*Styles for page 1*/
}

.page-2 {
    /*Styles for page 2*/
}

.page-3 {
    /*Styles for page 3*/
}

.page-4 {
    /*Styles for page 4*/
}

.page-5 {
    /*Styles for page 5*/
}

.page-6 {
    /*Styles for page 6*/
}

.page-7 {
    /*Styles for page 7*/
}
