@import "_colors.scss";
@import "_fonts.scss";
@import "_layout.scss";
@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        90deg,
        $color-blue 0%,
        $color-yellow 25%,
        $color-orange 45%,
        rgb(255, 94, 0) 55%,
        $color-green 75%,
        $color-lightblue 100%
    );
    background-size: 2000%;
    background-position: 100%;
    transition: all 3s;
    font-family: "New Tegomin", serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

section {
    width: 50%;
    min-height: 30%;
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: $color-text-background;
    border-radius: 1em;
    padding: 5em;
}

button {
    font-size: 0.8em;
    padding: 0.2em 0.6em 0.5em;
    color: white;
    background: $color-text-background;
    border: 2px solid white;
    border-radius: 0.2em;
    font-family: "New Tegomin", serif;
    font-size: 1.7em;
    transition: all 0.8s;
    margin: 1em;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &:hover {
        background: white;
        color: rgba(2, 221, 215, 1);
    }
}

/**
* Style for tree
*/
.tree {
    position: absolute;
    right: 0;
    bottom: 0px;
    height: 50vmin;
    width: 50vmin;
    opacity: 0;
    transition: opacity 2.2s;
}
.para {
    opacity: 0;
    transition: opacity 2.2s;
    transform: translate(10%, 10%);
}
.fadeIn {
    opacity: 100;
    transform: translate(0, 0);
}
.fadeOut {
    opacity: 0;
}
.trunk {
    z-index: -1;
    position: absolute;
    bottom: 0em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    background-color: $color-tree-branch;
    height: 50vmin;
    width: 5vmin;
    border-radius: 63% 37% 31% 69% / 60% 74% 26% 40%;
}

.branch {
    position: relative;
    background-color: $color-tree-branch;
    height: 19vmin;
    width: 2vmin;
    top: 2%;
    right: -120%;
    transform: rotate(+30deg);
    border-radius: 63% 37% 31% 69% / 60% 74% 26% 40%;
}

.branch:last-child {
    top: -50%;
    right: +70%;
    transform: rotate(-30deg);
}

.topTree {
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    height: 50vmin;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.leaves {
    position: absolute;
    border-radius: 50%;
    transform: rotate(+30deg);
    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2);
}


/**
* Style for apple
*/
.apple {
    position: absolute;
    z-index: 1;
    width: 150px;
    /* Transition animation on position change */
    top: 40vh;
    /* Position pre-set for animation */
    right: 100px;
    bottom: 40vh;
}

/* Positions */
.ground-position {
    transition: all 1s ease-in;
    top: auto;
    bottom: 0;
}

.right-position {
    transition: all 4s ease-out;
    right: -150px;
    bottom: 0;
}

.left-position {
    transition: all 4s ease-out;
    left: -150px;
    bottom: 0;
}

.left-to-right-position {
    transition: all 5.5s ease-out;
    left: 85vw;
}

.spin {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fall {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/**
* Induvidual styles for each "page". Body class get updated when the button is clicked
*/
.page-0 {

}

.page-1 {

}

.page-2 {

}

.page-3 {

}

.page-4 {

}

.page-5 {

}