@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#00acd9), color-stop(25%, #faff1e), color-stop(45%, #ff9a1e), color-stop(55%, #ff5e00), color-stop(75%, #00de60), to(#1efaff));
  background: linear-gradient(90deg, #00acd9 0%, #faff1e 25%, #ff9a1e 45%, #ff5e00 55%, #00de60 75%, #1efaff 100%);
  background-size: 2000%;
  background-position: 100%;
  -webkit-transition: all 3s;
  transition: all 3s;
  font-family: "New Tegomin", serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section {
  width: 50%;
  min-height: 30%;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: rgba(50, 50, 50, 0.4);
  border-radius: 1em;
  padding: 5em;
}

button {
  font-size: 0.8em;
  padding: 0.2em 0.6em 0.5em;
  color: white;
  background: rgba(50, 50, 50, 0.4);
  border: 2px solid white;
  border-radius: 0.2em;
  font-family: "New Tegomin", serif;
  font-size: 1.7em;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin: 1em;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

button:hover {
  background: white;
  color: #02ddd7;
}

.para {
  opacity: 0;
  -webkit-transition: opacity 2.2s;
  transition: opacity 2.2s;
  -webkit-transform: translate(10%, 10%);
          transform: translate(10%, 10%);
}

.fadeIn {
  opacity: 100;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.fadeOut {
  opacity: 0;
}

/**
* Style for tree
*/
.tree {
  position: absolute;
  right: 0;
  bottom: 0px;
  height: 50vmin;
  width: 50vmin;
  opacity: 0;
  -webkit-transition: opacity 2.2s;
  transition: opacity 2.2s;
}

.trunk {
  z-index: -1;
  position: absolute;
  bottom: 0em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  background-color: #381515;
  height: 50vmin;
  width: 5vmin;
  border-radius: 63% 37% 31% 69% / 60% 74% 26% 40%;
}

.branch {
  position: relative;
  background-color: #381515;
  height: 19vmin;
  width: 2vmin;
  top: 2%;
  right: -120%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-radius: 63% 37% 31% 69% / 60% 74% 26% 40%;
}

.branch:last-child {
  top: -50%;
  right: +70%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.topTree {
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  height: 50vmin;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.leaves {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2);
          box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2);
}

/**
* Style for apple
*/
.apple {
  position: absolute;
  z-index: 1;
  width: 150px;
  /* Transition animation on position change */
  top: 40vh;
  /* Position pre-set for animation */
  right: 100px;
  bottom: 40vh;
}

/* Positions */
.ground-position {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  top: auto;
  bottom: 0;
}

.right-position {
  -webkit-transition: all 4s ease-out;
  transition: all 4s ease-out;
  right: -150px;
  bottom: 0;
}

.left-position {
  -webkit-transition: all 4s ease-out;
  transition: all 4s ease-out;
  left: -150px;
  bottom: 0;
}

.left-to-right-position {
  -webkit-transition: all 5.5s ease-out;
  transition: all 5.5s ease-out;
  left: 85vw;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fall {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fall {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Rainbow Variables */
/* Leave these alone */
.rainbow {
  position: absolute;
  left: 65%;
  bottom: 0px;
  width: 600px;
  height: 300px;
  opacity: 0;
}

.rainbow.smooth::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  -webkit-filter: hue-rotate(-15deg) contrast(95%);
          filter: hue-rotate(-15deg) contrast(95%);
  opacity: 1;
  border-radius: 50%;
  background: radial-gradient(circle at center, transparent, transparent 240px, #9400D3 240px, #9400D3 240px, #4B0082 249.79592px, #0000FF 259.59184px, #00FF00 269.38776px, #FFFF00 279.18367px, #FF7F00 288.97959px, #FF0000 298.77551px);
}

.clouds {
  display: none;
}

#cloud1 {
  -webkit-animation: bobble 2s infinite;
          animation: bobble 2s infinite;
  margin-left: 100px;
  margin-top: 15px;
}

@-webkit-keyframes bobble {
  0% {
    -webkit-transform: translate3d(50px, 40px, 0px);
            transform: translate3d(50px, 40px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate3d(50px, 60px, 0px);
            transform: translate3d(50px, 60px, 0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(50px, 40px, 0px);
            transform: translate3d(50px, 40px, 0px);
  }
}

@keyframes bobble {
  0% {
    -webkit-transform: translate3d(50px, 40px, 0px);
            transform: translate3d(50px, 40px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate3d(50px, 60px, 0px);
            transform: translate3d(50px, 60px, 0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(50px, 40px, 0px);
            transform: translate3d(50px, 40px, 0px);
  }
}

#cloud2 {
  -webkit-animation: bobble 1.5s infinite;
          animation: bobble 1.5s infinite;
  margin-left: 100px;
  margin-top: 15px;
}

@keyframes bobble {
  0% {
    -webkit-transform: translate3d(50px, 40px, 0px);
            transform: translate3d(50px, 40px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate3d(50px, 60px, 0px);
            transform: translate3d(50px, 60px, 0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(50px, 40px, 0px);
            transform: translate3d(50px, 40px, 0px);
  }
}

#cloud3 {
  -webkit-animation: bobble 3s infinite;
          animation: bobble 3s infinite;
  margin-left: 100px;
  margin-top: 15px;
}

@keyframes bobble {
  0% {
    -webkit-transform: translate3d(50px, 40px, 0px);
            transform: translate3d(50px, 40px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translate3d(50px, 60px, 0px);
            transform: translate3d(50px, 60px, 0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(50px, 40px, 0px);
            transform: translate3d(50px, 40px, 0px);
  }
}

.hands {
  display: none;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/**
* Induvidual styles for each "page". Body class get updated when the button is clicked
*/
.page-0 .rainbow {
  opacity: 0;
}

.page-1 .leaves.small.green {
  background-color: rgba(85, 255, 85, 0.788);
}

.page-1 .leaves.medium.green {
  background-color: rgba(98, 204, 71, 0.76);
}

.page-1 .leaves.big.green {
  background-color: rgba(21, 65, 11, 0.76);
}

.page-2 .leaves.small.red {
  background-color: rgba(236, 136, 22, 0.76);
}

.page-2 .leaves.medium.red {
  background-color: rgba(236, 90, 22, 0.76);
}

.page-2 .leaves.big.red {
  background-color: rgba(241, 126, 31, 0.76);
}

.page-2 .leaves.small.white {
  background-color: rgba(255, 255, 255, 0.46);
}

.page-2 .leaves.medium.white {
  background-color: rgba(255, 255, 255, 0.56);
}

.page-2 .leaves.big.white {
  background-color: rgba(255, 255, 255, 0.66);
}

.page-3 .clouds {
  display: block;
  opacity: 1;
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
  position: absolute;
  top: -10%;
  left: 17%;
}

.page-4 .clouds {
  display: none;
  opacity: 0;
  -webkit-animation: fadeout 3s;
          animation: fadeout 3s;
}

.page-4 .hands {
  display: block;
  position: absolute;
  top: 13%;
  left: 70%;
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
}

.page-5 .hands {
  display: none;
}

.page-5 .rainbow {
  opacity: 1;
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
}
/*# sourceMappingURL=index.css.map */