@import "_colors.scss";
@import "_fonts.scss";
@import "_layout.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        90deg,
        $color-blue 0%,
        $color-yellow 25%,
        $color-orange 45%,
        rgb(255, 94, 0) 55%,
        $color-green 75%,
        $color-lightblue 100%
    );
    background-size: 2000%;
    background-position: 100%;
    transition: all 3s;
    font-family: $fontNewTegomin;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

section {
    width: 50%;
    min-height: 30%;
    text-align: center;
    font-size: 2em;
    color: white;
    background-color: $color-text-background;
    border-radius: 1em;
    padding: 5em;
}

button {
    font-size: 0.8em;
    padding: 0.2em 0.6em 0.5em;
    color: white;
    background: $color-text-background;
    border: 2px solid white;
    border-radius: 0.2em;
    font-family: $fontNewTegomin;
    font-size: 1.7em;
    transition: all 0.8s;
    margin: 1em;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    &:hover {
        background: white;
        color: rgba(2, 221, 215, 1);
    }
}

.para {
    opacity: 0;
    transition: opacity 2.2s;
    transform: translate(10%, 10%);
}
.fadeIn {
    opacity: 100;
    transform: translate(0, 0);
}
.fadeOut {
    opacity: 0;
}


/**
* Style for tree
*/
.tree {
    position: absolute;
    right: 0;
    bottom: 0px;
    height: $tree-height-width;
    width: $tree-height-width;
    transition: opacity 2.2s;
}

.trunk {
    z-index: -1;
    position: absolute;
    bottom: 0em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    background-color: $color-tree-branch;
    height: $tree-height-width;
    width: $trunk-height;
    border-radius: 63% 37% 31% 69% / 60% 74% 26% 40%;
}

.branch {
    position: relative;
    background-color: $color-tree-branch;
    height: $branch-height;
    width: $branch-width;
    top: 2%;
    right: -120%;
    transform: rotate(+30deg);
    border-radius: 63% 37% 31% 69% / 60% 74% 26% 40%;
}

.branch:last-child {
    top: -50%;
    right: +70%;
    transform: rotate(-30deg);
}

.topTree {
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    height: 50vmin;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.leaves {
    position: absolute;
    border-radius: 50%;
    transform: rotate(+30deg);
    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2);
}

/**
* Style for apple
*/
.apple {
    position: absolute;
    z-index: 1;
    width: 150px;
    /* Transition animation on position change */
    top: 40vh;
    /* Position pre-set for animation */
    right: 100px;
    bottom: 40vh;
}

/* Positions */
.ground-position {
    transition: all 1s ease-in;
    top: auto;
    bottom: 0;
}

.right-position {
    transition: all 4s ease-out;
    right: -150px;
    bottom: 0;
}

.left-position {
    transition: none;
    left: -150px;
    bottom: 0;
}

.left-to-right-position {
    transition: all 4.5s ease-out;
    left: 85vw;
}

.right-to-off-position {
    transition: all 1.0s ease-out;
    left: 100vw;
}

.spin {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fall {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Rainbow Variables */
$animation-duration: 6s;
$background-colour: #ff000000;
$rainbow-filter: hue-rotate(-15deg) contrast(95%);
$rainbow-opacity: 1;


/* Leave these alone */
$rainbow-radius: $rainbow-diameter / 2;
$colour-band-width: $rainbow-thickness / length($rainbow-colours);

// Generate a rainbow gradient
@mixin rainbowGradient($type) {
  
  // Base gradient
  $rainbow-gradient: 
    circle at center,
    transparent,
    transparent $rainbow-radius - $rainbow-thickness,
    nth($rainbow-colours, -1) $rainbow-radius - $rainbow-thickness;
  
  // Generate banded or smooth radial gradient
  @for $i from 1 through length($rainbow-colours) {
    
    // Next colour
    $colour: nth($rainbow-colours, -$i);
    
    // Start of band
    $rainbow-gradient: append(
      $rainbow-gradient,
      $colour $rainbow-radius - ($rainbow-thickness - 
        if(
          $type == "smooth",
          // Smooth: Offset the band start by half a band for better blending
          $colour-band-width + ($colour-band-width / (length($rainbow-colours))),
          // Bands: Do not offset the band
          $colour-band-width
        ) * ($i - 1)
      )
    );
  }
  background: radial-gradient($rainbow-gradient);
}

// the rainbow element
@mixin rainbow($type) {
  &::before {
    content: '';
    position: absolute;
    width: $rainbow-diameter;
    height: $rainbow-diameter;
    filter: $rainbow-filter;
    opacity: $rainbow-opacity;
    border-radius: 50%;
    @include rainbowGradient($type);
  }
}

// Rainbow container
.rainbow {
    position: absolute;
    left: 65%;
    bottom: 0px;
    width: $rainbow-diameter;
    height: $rainbow-radius;
    opacity: 0;


  // Rainbow classes
  &.smooth { @include rainbow("smooth"); }
}
#cloud1{
    height:200px;
}
#cloud2{
    height:150;
}
#cloud3{
    height:175;
}

//start by making the clouds inviciable 
.clouds{
    display: none;
}
// animate the clouds so that they bounce 
#cloud1{
            animation: bobble 2s infinite;
            margin-left: 100px;
            margin-top: 15px;
        }


        @keyframes bobble {
                    0% {
                        transform: translate3d(50px, 40px, 0px);
                        animation-timing-function: ease-in;
                    }

                    50% {
                        transform: translate3d(50px, 60px, 0px);
                        animation-timing-function: ease-out;
                    }

                    100% {
                        transform: translate3d(50px, 40px, 0px);
                    }

        }

        #cloud2{
            animation: bobble 1.5s infinite;
            margin-left: 100px;
            margin-top: 15px;
        }


        @keyframes bobble {
                    0% {
                        transform: translate3d(50px, 40px, 0px);
                        animation-timing-function: ease-in;
                    }

                    50% {
                        transform: translate3d(50px, 60px, 0px);
                        animation-timing-function: ease-out;
                    }

                    100% {
                        transform: translate3d(50px, 40px, 0px);
                    }

        }

        #cloud3{
            animation: bobble 3s infinite;
            margin-left: 100px;
            margin-top: 15px;
        }


        @keyframes bobble {
                    0% {
                        transform: translate3d(50px, 40px, 0px);
                        animation-timing-function: ease-in;
                    }

                    50% {
                        transform: translate3d(50px, 60px, 0px);
                        animation-timing-function: ease-out;
                    }

                    100% {
                        transform: translate3d(50px, 40px, 0px);
                    }

        }
    .hands{
        display: none;
    }


// Fade in animation
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Fade out animation
@keyframes fadeout {
    from { opacity: 1;}
    to   { opacity: 0;}
}

/**
* Induvidual styles for each "page". Body class get updated when the button is clicked
*/
.page-0 .rainbow {
    opacity: 0;
}

.page-1 .leaves.small.green {
    background-color: $color-small-leaves-green;
}

.page-1 .leaves.medium.green {
    background-color: $color-medium-leaves-green;
}

.page-1 .leaves.big.green {
    background-color: $color-big-leaves-green;
}

.page-2 .leaves.small.red {
    background-color: $color-small-leaves-red;
}

.page-2 .leaves.medium.red {
    background-color: $color-medium-leaves-red;
}

.page-2 .leaves.big.red {
    background-color: $color-big-leaves-red;
}

.page-2 .leaves.small.white {
    background-color: $color-small-leaves-white;
}

.page-2 .leaves.medium.white {
    background-color: $color-medium-leaves-white;
}

.page-2 .leaves.big.white {
    background-color: $color-big-leaves-white;
}

.page-3 .clouds{
    display: block;
    opacity: 1;
    animation: fadein 3s;
    position: absolute;
    top:-10%;
    left:17%;
}

.page-4 .clouds{
    display: none;
    opacity: 0;
    animation: fadeout 3s;
}

.page-4 .hands{
    display:block ;
    position: absolute;
    top: 13%;
    left: 70%;
    animation: fadein 3s;

}

.page-5 .hands{
    display: none;
}

.page-5 .rainbow {
    opacity: 1;
    animation: fadein 3s;
}