@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#00acd9), color-stop(25%, #faff1e), color-stop(45%, #ff9a1e), color-stop(55%, #ff5e00), color-stop(75%, #00de60), to(#1efaff));
  background: linear-gradient(90deg, #00acd9 0%, #faff1e 25%, #ff9a1e 45%, #ff5e00 55%, #00de60 75%, #1efaff 100%);
  background-size: 2000%;
  background-position: 100%;
  -webkit-transition: all 3s;
  transition: all 3s;
  font-family: 'New Tegomin', serif;
}

.container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

section {
  width: 50%;
  min-height: 30%;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: rgba(50, 50, 50, 0.4);
  border-radius: 1em;
  padding: 5em;
}

button {
  font-size: 0.8em;
  padding: 0.2em 0.6em 0.5em;
  color: white;
  background: rgba(50, 50, 50, 0.4);
  border: 2px solid white;
  border-radius: 0.2em;
  font-family: 'New Tegomin', serif;
  font-size: 1.7em;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  margin: 1em;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

button:hover {
  background: white;
  color: #02ddd7;
}

.page-0 {
  /*Styles for page 0*/
}

.page-1 {
  /*Styles for page 1*/
}

/**
* PAGE 2
*/
.page-2 {
  /*Styles for page 2*/
}

.tree {
  position: absolute;
  right: 0;
  bottom: 0px;
  height: 50vmin;
  width: 50vmin;
  opacity: 0;
  -webkit-transition: opacity 2.2s;
  transition: opacity 2.2s;
}

.para {
  opacity: 0;
  -webkit-transition: opacity 2.2s;
  transition: opacity 2.2s;
  -webkit-transform: translate(10%, 10%);
          transform: translate(10%, 10%);
}

.fadeIn {
  opacity: 100;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.fadeOut {
  opacity: 0;
}

.trunk {
  z-index: -1;
  position: absolute;
  bottom: 0em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  background-color: #381515;
  height: 50vmin;
  width: 5vmin;
  border-radius: 63% 37% 31% 69% / 60% 74% 26% 40%;
}

.branch {
  position: relative;
  background-color: #381515;
  height: 19vmin;
  width: 2vmin;
  top: 2%;
  right: -120%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-radius: 63% 37% 31% 69% / 60% 74% 26% 40%;
}

.branch:last-child {
  top: -50%;
  right: +70%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.topTree {
  position: absolute;
  top: -150px;
  left: 0;
  right: 0;
  height: 50vmin;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.leaves {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2);
          box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2);
}

.page-3 {
  /*Styles for page 3*/
}

.page-4 {
  /*Styles for page 4*/
}

.page-5 {
  /*Styles for page 5*/
}
/*# sourceMappingURL=index.css.map */